.card {
  background: #fafafa;
  color: black;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.3rem;
  font-family: Montserrat;
  font-weight: 600;
  border: 0.7px solid black;
  box-shadow: 1.5px 1.5px 5px 0 green;
}

.startDate {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  font-size: 1rem;
  color: #ea4335;
}

.images {
  width: 30px;
}

.site {
  text-decoration: underline;
  text-align: right;
  color: #95a7d8;
  float: right;
}

.site:visited {
  color: #95a7d8;
}

.contestLink {
  color: black;
}

.contestLink:visited {
  color: black;
}

.btn {
  color: black;
  background: white;
  width: max-content;
  position: relative;
  right: -70vw;
  font-family: Montserrat;
  padding: 0.7rem;
  font-size: 0.7rem;
  border-radius: 7px;
  margin-top: 1rem;
}

@media screen and (min-width: 600px) {
  .card {
    width: 25rem;
  }
}
